.navbar{
  display: flex;
  background-color: #FFFFDA;
  color: #BE4040;
  justify-content: center;
  align-items: center;
}
.navbar div{
  padding: 0.5rem;
  font-family: -webkit-body;
  font-size: x-large;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .navbar div{
    padding: 0.25rem;
    font-size: large;
  }
}